@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates');
body{
    font-family: 'Montserrat Alternates', sans-serif;
    text-align:center;
}
.code{
    color:white;
    background-color:black;
    font-size: 18px;
}

.paragraph{
    color:black;
}
.header{
    margin:0 auto;
    /* border:1px solid green; */
    width:70%;
}
.content-container{
    margin:0 auto;
   
    /* border:1px solid orange; */
    width:70%;
}

.section{
    text-align: justify;
    text-justify: inter-character;
    /* font-family: 'Montserrat Alternates', sans-serif; */
}

/* hr{
    border-top:1px solid rgb(194, 194, 194);
    width:70%;
    border-radius:15px;

} */
hr{
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
    width:70%;
}


.daysList{

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      border: 3px outset black;
      text-align: center;
      height: 200px;

      background: rgba(242,246,248,1);
      background: -moz-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 0%, rgba(224,239,249,1) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242,246,248,1)), color-stop(0%, rgba(216,225,231,1)), color-stop(100%, rgba(224,239,249,1)));
      background: -webkit-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 0%, rgba(224,239,249,1) 100%);
      background: -o-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 0%, rgba(224,239,249,1) 100%);
      background: -ms-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 0%, rgba(224,239,249,1) 100%);
      background: linear-gradient(to right, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 0%, rgba(224,239,249,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=1 );
      border-radius: 10px;
    
}
.weeksList{
    text-align: left;
    width: 100%
}
.topic{
    font-size: 20px;
    
}
.topicList{
    text-align: center;
    
}

.selected{
    background-color: rgb(175, 173, 173);
}