  .toolbox{
  text-align: center;
  position:fixed;
  top:10%;
  left:1%;
}
  .btn-group button {
    margin-top:10%;
    background-color: rgb(58, 102, 190); 
    box-shadow:0 3px 25px 5px #807f7f ;
    border: none;
    cursor: pointer; 
    width: 55px; 
    height:55px;
    border-radius:50%;
    display: block; 
    transition-property: width,height;
    transition-duration: .5s;
    
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color:rgb(81, 139, 255); 
    width:65px;
    height:65px;
  }

  .lesson-element{
    width: 140%;
    margin-left: -125px;
  }

  .fa-floppy-o{
    color:rgba(245, 245, 245, 0.699)
  }

  input{
  height: 50px;
  width: 100%;
  margin-left:0;
  border-radius: 10px;
  border-style: outset;
  }

  textarea{
    resize: none;
    width: 100%;
    height: 100%;
  }

  form{
    width: 100%;
    height: 200px;
  }

  .submit-button{
    position: relative;
    width: 80px;
    left: 600px;
    bottom: 60px;
    background-color: rgb(15, 179, 15);
    color: white;
  }